#poststuff h1,
.postbox .inside h1,
h1 {
  @include font-size($h1-font-size, true);
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: $headings-margin-bottom !important;
  font-weight: $headings-font-weight !important;
  color: $gray-900;
}

#poststuff h2,
.postbox .inside h2,
h2 {
  @include font-size($h2-font-size, true);
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: $headings-margin-bottom !important;
  font-weight: $headings-font-weight !important;
  color: $gray-900;
}

#poststuff h3,
.postbox .inside h3,
h3 {
  @include font-size($h3-font-size, true);
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: $headings-margin-bottom !important;
  font-weight: $headings-font-weight !important;
  color: $gray-900;
}

p {
  @include font-size($font-size-base);
  margin-top: 0 !important;
  margin-bottom: $paragraph-margin-bottom !important;
}

.form-control {
  @include font-size($input-font-size, true);
}

.form-control-lg {
  @include font-size($input-font-size-lg, true);
}

.form-control-sm {
  @include font-size($input-font-size-sm, true);
}

ul {
  list-style-type: disc;
  padding-inline-start: 40px;
}

ol {
  list-style-type: decimal;
  padding-inline-start: 40px;
  margin-left: 0;
}

.breadcrumb {
  margin-left: 0;
}

.list-group-item {
  margin-bottom: 0;

  + .list-group-item {
    border-top-width: 0;
  }
}

.card {
  margin-top: 0;
  padding: 0;
  max-width: none;
  box-shadow: none;
  background: none;
}