/* Hide params on single layout page */
div[data-name='active'],
div[data-name='style'],
div[data-name='position'],
div[data-name='menu_order'],
div[data-name='hide_on_screen'] {
    display: none;
}

/* Reset ACF Style to show dropdown filters */
.acf-admin-field-groups .tablenav.top {
    display: block !important;
}

/* Reset ACFE Style for disabled field groups */
#the-list .status-acf-disabled .column-title a {
    color: #0073aa !important;
}

#the-list .status-acf-disabled .column-title a:hover {
    color: #006799 !important;
}

#the-list .status-acf-disabled .column-title .row-actions span.trash a {
    color: #a00 !important;
}

#the-list .status-acf-disabled .column-title .row-actions span.trash a:hover {
    color: #dc3232 !important;
}

/*
 * Field Group: Tabs hack to initialize
 */
.acf-fields .acf-field-tab {
    display: block !important;
    height: 0;
    overflow: hidden;
    padding: 0 !important;
    border: 0 !important;
}
